body {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /* font-size: 200px; */
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: #d46e57;
    padding-top: 4rem;
    margin: 0;
}

span {
    text-decoration: underline;
}

h2 {
    color: #11999E;
    font-size: 4rem;
}

hr {
    border: dotted cadetblue 6px;
    border-bottom: none;
    width: 15%;
    margin: 50px auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
}

.title {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
}

.navbar--brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Ubuntu";
    line-height: 1.5;
    font-size: 40px;
    padding: 0 18px;
}

.nav--item {
    margin-left: 550px;

}

.nav--link {
    font-size: 20px;
    font-family: 'Montserrat-Light';
}



a:hover {
    color: #188ddb;
}

.head {
    padding-top: 3rem;
    padding-left: 20px;
    background-color: #69bce8;
    background-position: top;
    position: relative;
    padding-bottom: 7rem;
    z-index: 1;
}

.words {
    margin-left: 50px;
    float: left;
    width: 35%;
}

.font {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
    color: #066467;
    margin: 0;
}

.photo {
    margin-left: 7rem;
    position: relative;
    border-radius: 30%;
    transform: scaleX(-1);

}

.ro {
    position: absolute;
    margin-left: 9rem;
    float: left;
    transform: rotate(180deg);
}


.About {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    margin-bottom: 20rem;
}

.profile {
    margin-top: 4rem;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    position: relative;
}

.bio2 {
    padding-top: 20px;
    font-family: 'Satisfy', cursive;
    width: 35%;
    margin: auto;
    margin-top: 20px;
    z-index: 1;
}

.bio {
    /* font-family: 'Satisfy', cursive; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 38%;
    font-size: x-large;
    margin: auto;
    z-index: 1;

}

.skill-row {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: 55%;
    margin: 20px auto;
    z-index: 1;

}

.skill-bio {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    position: relative;
    z-index: 1;

}

.basics {
    float: left;
    margin-left: 30px;
    z-index: 1;

}

/* .Projects{
} */
.pro {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
}

.drum {
    margin-left: 1rem;
}

.calc {
    margin-left: 1rem;
}

.dicee {
    margin-left: 1rem;
}

.tindog {
    margin-left: 2rem;

}

.dental {
    margin-left: 2rem;

}


#Contact {
    /* margin-top: 40rem; */
    position: relative;
}

.link:link,
.link:visited {
    background-color: #1689d1;
    color: white;
    padding: 14px 25px;
    text-align: center;
    margin: 1rem;
    text-decoration: none;
    display: inline-block;
}

.link:hover {
    background-color: #0dae1d;
    /* color: #0dd0d0; */
}

.heir {
    background-color: #1689d1;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.icon {
    width: 100px;
    height: 100px;
}


.end {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 20px;
    height: 2rem;
    width: 2rem;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #38b4ae;
    color: rgb(255, 255, 255);
}

.end:hover {
    color: rgb(43, 147, 147);
}

@media (max-width:767px) {

    /*mobile & tablet*/
    body {
        text-align: center;
        height: 100%;
        width: 100%;
    }

    .title {
        font-size: 20px;
        margin-left: 60px;
    }

    .navbar--brand {
        padding-top: 1rem;
        padding-bottom: 0.3125rem;
        margin-right: 0rem;
        text-decoration: none;
        font-family: "Ubuntu";
        line-height: 1.5;
        font-size: 30px;
    }

    .nav--item {
        margin-left: 30px;

    }

    h1 {
        font-family: 'Satisfy', cursive;
        font-size: 2rem;
        color: #d46e57;
        padding-top: 2rem;
        margin: 0;
    }

    .head {
        padding-bottom: 4rem;
    }

    .words {
        margin-left: 0px;
        width: 100%;
        float: none;
        text-align: center;
    }

    .font {
        font-family: 'Shadows Into Light', cursive;
        font-size: 1rem;
        color: #066467;
        margin: 0;
    }

    .photo {
        margin-left: 0rem;
        position: relative;
        border-radius: 30%;
        transform: scaleX(-1);
        width: 50%;
        height: 50%;
    }

    .ro {
        position: absolute;
        margin-left: -7.6rem;
        transform: rotate(180deg);
    }

    .About {
        height: 100%;
        width: 100%;
        position: relative;
        margin-bottom: 0;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        padding-top: 1rem;
    }

    .profile {
        margin-top: 0rem;
        height: 150px;
        width: 150px;
        border-radius: 20%;
        position: relative;
    }

    .bio2 {
        padding-top: 20px;
        font-family: 'Satisfy', cursive;
        width: 20%;
        margin: auto;
        margin-top: 20px;
        z-index: 1;
    }

    .bio {
        /* font-family: 'Satisfy', cursive; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        font-size: x-large;
        margin: 0;
        z-index: 0;

    }

    .skill-row {
        text-align:center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        width: 55%;
        margin: 0px auto;
        z-index: 1;

    }

    .skill-bio {
        float: none;
        width: 150px;
        height: 150px;
        margin-right: 0px;
        position: relative;
        z-index: 1;

    }

    .basics {
        float: none;
        /* display:inline-table; */
        margin-bottom: 10px;
        z-index: 0;

    }
    .pro {
        position: relative;
        text-align: center;
        margin-bottom: 3rem;
        width: 100%;
        height: 100%;
    }
    img{
        width: 50%;
    }
    .end {
        position: fixed;
        bottom: 0rem;
        right: 0rem;

    }
}